@model Periodicals_Catalog_MVC.Models.PageSetup
@using Periodicals_Catalog_MVC.Helpers

@{var section = Request.CurrentExecutionFilePath.Split('/');
    string URL = "";
    if (section.Length == 2)
    {
        URL = "";
    }

    if (section.Length >= 4)
    {
        string[] real = new string[] { section[2], section[3] };
        URL = "/" + string.Join("/", real);
    }
}

<div class="row text-center">
    <ul class="pagination">
        @Html.PageLinks(Model, x => Url.Action(URL, new { searchString = (string)ViewData["SearchString"], page = x }))
    </ul>
</div>